<div class="jumbotron">
  <div class="container">
    <h4>Users</h4><hr/>
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  		<thead>
    		<tr>
      			<th>Role</th>
      			<th>Email Address</th>
      			<th>Full  Name</th>
      			<th>Last Updated</th>
    		</tr>
  		</thead>
  		<tbody>
   			<tr *ngFor="let group of data">
         		<td>{{group.role}}</td>
         		<td>{{group.email_id}}</td>
         		<td>{{group.fullname}}</td>
         		<td>{{group.updated}}</td>
     		</tr>
  		</tbody>
	</table>
  </div>
</div>