<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">binLab</a>
    </div>
  </div>
</nav>-->
<div class="container-fluid bg-3">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 jumbotron">
      <h3>Login Here</h3><br>
      <form #loginForm="ngForm" name="loginForm" novalidate (ngSubmit)="loginForm.form.valid && doLogin()">
        <div class="form-group">
          <label>Email Address*</label>
          <input type="text" name="email_id" #email_id="ngModel" [(ngModel)]="user.email_id" class="form-control"
            required>
          <span *ngIf="email_id.invalid && email_id.touched || (email_id.invalid && loginForm.submitted)" style="color:red">Email address is required</span>
        </div>
        <div class="form-group">
          <label>Password*</label>
          <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
            required>
          <span *ngIf="(password.invalid && password.touched) || (password.invalid && loginForm.submitted)" style="color:red">Password
            is required</span>
        </div>
        <div class="form-group">
          <label>Lab*</label>
          <select type="text" name="lab_id" #labId="ngModel" [(ngModel)]="user.lab_id" class="form-control" required>
            <option value="">Select One</option>
            <option *ngFor="let lab of labs" [value]="lab.id">{{lab.name}}</option>
          </select>
          <span *ngIf="labId.invalid && labId.touched || (labId.invalid && loginForm.submitted)" style="color:red">Select
            Lab</span>
          <div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
        </div>
        <input type="submit" value="Login" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
